@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Arenq';
  src: url('./fonts/arenq.otf');
}

@font-face {
  font-family: 'Mova';
  src: url('./fonts/mova.otf');
}

@font-face {
  font-family: 'Beckman';
  src: url('./fonts/beckman.otf');
}

@font-face {
  font-family: 'Overcame Bold';
  src: url('./fonts/overcame-bold.woff');
}

@font-face {
  font-family: 'Overcame Outline';
  src: url('./fonts/overcame-outline.woff');
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px; /* Pritaikyti pagal jūsų navbar aukštį */
}
.nav-links::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #292929;
  margin: auto;
  transition: 0.5s;
}

.nav-links:hover::after {
  width: 70%;
}